{% extends 'base.html' %}
 {% block content %}
           
<h2 class="mb-4">Add New Customer</h2>
		    				<form method="post" class="appointment">
		    				{% csrf_token %}
		    					<div class="row justify-content-center">
										<div class="col-md-6">
											<div class="form-group">
					              <input type="text" class="form-control" placeholder="Customer Name" name="name">
					            </div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
					              <input type="number" class="form-control" placeholder="Phone number" name="phone">
					            </div>
										</div>
										<div class="col-md-6">
										<div class="form-group">
					              <input type="text" class="form-control" placeholder="Customer Address" name="address">
					            </div></div>
											
										<div class="col-md-6">
											<div class="form-group">
					              <input type="text" class="form-control" placeholder="Reference" name="reference">
					            </div>
					    				</div>
										</div>
										
										<div class="col-md-6">
											<div class="form-group">
					              <input type="submit" value="Add New Customer" class="btn btn-secondary py-3 px-4">
					            </div>
										</div>
		    					</div>
			          </form>
 {% endblock %}