{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 {% block content %}
<form class="appointment">

<h2>Search Customer</h2>
<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="form-group">
			 <input type="text" class="form-control" placeholder="Find Customer..." name="name">
		</div>
	</div>
	
	
	<div class="col-md-6">
		<div class="form-group">
		<input type="submit" value="Search Customer" class="btn btn-secondary py-3 px-4">
		</div>
	</div>
</div>
</form>
<form method="post">
{% csrf_token %}

<div class="col-md-6">
<div class="form-group">
<div class="form-field">
<div class="select-wrap">
<div class="icon"><span class="fa fa-chevron-down"></span></div>
<select name="field" id="" class="form-control">
{% for element in form %}
<option value="{{ element.id }}">{{ element.name }}-{{ element.phone }}</option>
{% endfor %}
</select>
</div>
</div>
</div>
<div class="col-md-6">
			<div class="form-group">
	 <input type="submit" value="Select Customer" class="btn btn-secondary py-3 px-4">
  </div>
</div>
</div>
</form>
{% endblock %}
</body>
</html>